@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg-day: orange;
    --bg-night: lightblue;

    --blur-day: rgba(255 255 255 / 0.3);
    --blur-night: rgba(8, 28, 145, 0.7);

    --bg: var(--bg-day);
    --blur: var(--blur-day);
}

body {
    width: 100vw;
    height: 100%;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.app {
    max-width: 1000px;
    width: 100%;
    min-height: 50vh;
    height: 100%;
    background-color: var(--bg);
    flex: 1 0 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
