.topbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background-color: rgba(255 255 255 / 0.3);
}

.topbar__icon {
    font-size: 2.125rem;
    fill: white;
}
