.topbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background-color: var(--blur);
}

.topbar__icon {
    font-size: 2rem;
    fill: white;
}
